<div class="landing-container landing-container-1">
  <div class="jumbotron">
    <p style="font-size: 45px;">Worried about uncontrolled Expenses ?</p>
    <h5 style="font-size: 14px;">Mozo won't let your money go anywhere.</h5>
  </div>
</div>
<div class="container-fluid" id="about_mozo">
  <div class="container-head">What is Mozo ?</div>
  <div class="container-subhead">Some random lines to describe it</div>
  <div class="container-content">Mozo is a web based expense manager helping you to keep track of all your expenses. </div>
</div>
<hr>
<div class="container-fluid" id="how_it_works">
  <div class="container-head">How does it works </div>
  <div class="container-subhead">Some random lines to describe it</div>
  <div class="container-content">There are few steps you nned to do</div>
  <div class="row ">
    <div class="col-md-3" data-aos="zoom-in">
      <div class="how_works_thumb"><img src="../../../assets/images/reg.png" class="img-responsive"></div>
      <div class="how_works_p"><p>Signup for a Mozo account ! That's really easy !</p></div>
    </div>
    <div class="col-md-3" data-aos="zoom-out">
      <div class="how_works_thumb"><img src="../../../assets/images/entry.png" class="img-responsive"></div>
      <div class="how_works_p"><p>Enter your Account Balance </p></div>
    </div>
    <div class="col-md-3" data-aos="zoom-in">
      <div class="how_works_thumb"><img src="../../../assets/images/friend.png" class="img-responsive"></div>
      <div class="how_works_p"><p>Add a friend with whom you transact frequently</p></div>
    </div>
    <div class="col-md-3" data-aos="zoom-out">
      <div class="how_works_thumb"><img src="../../../assets/images/bal.png" class="img-responsive"></div>
      <div class="how_works_p"><p>Start entering your daily expenses and transactions </p></div>
    </div>
  </div>
</div>


<div class="footer">
<p>Made with &#9829; by Someone</p>
</div>
