<div class="landing-container landing-container-1">
  <div class="jumbotron">
    <p style="font-size: 45px;">Worried about uncontrolled Expenses ?</p>
    <h5 style="font-size: 14px;">Mozo won't let your money go anywhere.</h5>
  </div>
</div>
<div class="between-container">
  <h3>Really ?</h3>
  <h1>What i need to do ?</h1>
</div>
<div class="landing-container landing-container-2">
  <ul class="landing-2-ul">
    <li>Signup for a Mozo account ! That's really easy !</li>
    <li>Enter your Account Balance </li>
    <li>Add a friend with whom you transact frequently</li>
    <li>Start entering your daily expenses and transactions</li>
  </ul>
</div>
<div class="between-container">
  <h3>Is't that easy!</h3>
  <h1>Keeping track of expenses</h1>
</div>
<div class="landing-container landing-container-3">

</div>

<div class="between-container">
  <h3>Does this really helps !</h3>
  <h1>Yes ! It does try it!</h1>
</div>
<div class="landing-container landing-container-4">

</div>

<div class="footer">
<p>Made with &#9829; by Someone</p>
</div>
