.landing-container {
  min-height:500px;
  padding: 25px;
  margin:0px;
}

.landing-container-1 {
  /* background: url('../../../assets/images/lp1.jpg') center center no-repeat; */
  background: url('../../../assets/images/mozo-index-bg.jpg') center center no-repeat;
  background-size: cover;
  margin-top:70px;
  background-attachment: fixed;
  background-color: #e6e6fa;
  min-height:667px;
}
.landing-container-2 {
  background: url('../../../assets/images/pencil.jpg') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
.landing-container-3 {
  background: url('../../../assets/images/money-hand1.png') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: papayawhip;
;
}
.landing-container-4 {
  background: url('../../../assets/images/money-dukkar.png') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: gainsboro;
}
 .jumbotron {
   color: #FFFFFF;
   background-color: rgba(0, 0, 0, 0);
   line-height: 34px;
   text-align: center;
   margin: 150px auto;
 }

 .between-container {
   padding: 100px 0px;
   text-align: center;
   min-height:300px;
 }
.footer {
  min-height: 100px;
  color: #FFFFFF;
  text-align: center;
  padding: 50px;
  background: #454545;
}

.landing-2-ul {
  list-style: devanagari;
  padding: 50px 120px 50px 60px;
  line-height: 85px;
  color: #565656;
}
#about_mozo {
  padding: 135px 50px 100px;
  text-align: center;
}
#how_it_works {
  padding: 135px 50px 100px;
  text-align: center;
}
.container-head {
  font-size: 35px;
  color: #636363;
  margin: 5px auto;
}
.container-subhead {
  font-size: 12px;
  margin: 0px auto 25px;
}
.how_works_thumb {
  width: 50%;
  text-align: center;
  margin:0px auto;
}
#how_it_works .row {
  margin: 50px 0px;
}
.how_works_p {
  padding: 15px 5px;
}
