.dash-cards {
  margin:10px 0px;
}
.mat-card {
  color: #44506d !important;
}
.dash-card-icon {
  font-size:48px;
  height: 100%;
  width:100%;

}
.mat-card-header {
  border-bottom: 1px solid #dcdcdc;
}

md-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.mat-card-footer {
  padding: 0px 20px;
}
.dash-container {
  background: #f3f3f3;
}

/deep/.mat-card-actions {
  padding:25px 22px!important;
}
.btn-add-money {
  width:100%;
  background: #44506d;
  color: #fff;
}

/deep/ .mat-input-container
{
  width:100% !important;
}
