
.LR-section {
  background-color: papayawhip;
  min-height:600px;
  margin-top: -70px;
}
.LR-logo {
  width: 125px;
  margin:0px auto;
}
.LR-logo img {
  width: 100%;
}
.LR-container {
  background: #fff;
  border-radius: 5px;
  padding: 25px 50px;
  margin-top: 100px;
  margin-bottom: 40px;
  border: 1px solid #e2e2e2;
}
.LR-inputs {
  width:100%;
}
.LR-btn {
  background-color: #f17576;
  color: #ffffff;
}

.mat-input-underline {
  background-color: rgb(224, 224, 224);
}
.social-logo img {
  width: 50%;
  margin: 5px auto;
}
.social-btn {
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  margin: 5px 0px;
  cursor: pointer;
}
.social-btn-facebook {
  background: #395997;

}
.social-btn-google {
  background: #cf4c3c;
}

.social-btn p {
  line-height: 20px;
  font-size: 12px;
}
