.transactions-type-select {
  width:100%;
}
.new-transactions {
  margin: 40px 20px;
}
.new-transactions form {
  padding: 50px 40px;
}
.transactions-type-input {
  width:100%;
}
.btn-add-transactions {
  width: 100%;
  background: #44506d;
  color: #fff;
}
.select-menu {
  margin: 20px 0px;
}
.transactions-header {
  display: flex;
}
/deep/ .mat-card-subtitle{
  margin: 20px 5px !important;
}
.card-transactions-amount p
{
  text-align: right;
  font-size: 35px;
  margin: -35px 15px 0px;
  color: #44506d;
}
.transactions-card-container /deep/ .mat-card {
  padding: 25px 40px !important;
  color: #44506d !important;
  margin: 2px 0px;
}
.transactions-date {
  position: absolute;
  right: 53px;
  top: 22px;
}
.transactions-card-title {
  font-size: 24px;
}
.i-dont-know-name button {
  height: 45px;
  text-align: right;
}
.i-dont-know-name {
  margin-top: 15px;
  margin-bottom: 20px;
}

.text-area {
  width:100%;
}
.container-transaction {
  background-color: beige;
}

.transactions-header {
  margin: 0px 0px -35px;
}
