<router-outlet></router-outlet>
<div>
  <div id="container-floating">
    <div class="nd5 nds" routerLink="/dash/balance"><md-icon class="reminder icon-plus">account_balance_wallet</md-icon></div>
    <div class="nd4 nds" routerLink="/dash/expense"><md-icon class="reminder icon-plus">attach_money</md-icon></div>
    <div class="nd3 nds" routerLink="/dash/transaction"><md-icon class="reminder icon-plus">compare_arrows</md-icon></div>
    <div class="nd1 nds" routerLink="/dash/friends"><md-icon class="reminder icon-plus">face</md-icon></div>

    <div id="floating-button">
      <p class="plus">+</p>
      <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
  </div>
</div>
